<div class="commentSection">
  <div style="margin: 20px">
    <!-- ---------------- sending a comment ---------------------------------- -->

    <textarea *ngIf="auth.loggedIn()" type="text" placeholder=" Add a comment here .. " class="commentadd" (focus)="FocusComment()"
      (focusout)="FocusComment()" [(ngModel)]="comment"></textarea><br />
    <div *ngIf="onFocusComment" class="commentbtn" [ngStyle]="{ 'margin-left': buttonCommentMargin + '%' }">
      <button class="btn btn-secondary" (mousedown)="cancelComment()">
        Cancel
      </button>
      &nbsp;
      <button class="btn btn-success" (mousedown)="SendComment()">
        Add Comment
      </button>
    </div>
    <hr />

    <!-- ---------------- showing comments  ---------------------------------- -->

    <div *ngFor="let comment of comments">
      <div>
        <div class="user">
          <strong> &nbsp;{{ comment.username }} </strong> &nbsp; &#9702; &nbsp;
          <i class="time"> {{ comment.time | date: "yyyy-MM-dd" }} </i>
          <span *ngIf="comment.user == this.userId" (click)="DeleteComent(comment.id)"> &nbsp; &#9702; &nbsp; <i
              class="fa fa-trash"></i></span>
        </div>

        <div class="comment">
          {{ comment.comment }}
        </div>
        <div class="jaimeR time">
          <a class="a" mat-icon-button [ngStyle]="{ color: getcolor(comment.id) }"
            [matTooltip]="comment.jaims | toollist" matTooltipPosition="after" matTooltipClass="tooltip-list"
            type="button" (click)="LikeComment(comment.id)">
            <i class="fa fa-thumbs-up"></i><span *ngIf="comment.jaims">&nbsp; {{ comment.jaims.length }}&nbsp;
            </span>
          </a>
          <a class="a" type="button" (click)="clickReply(comment.id)">
            Reply &nbsp;<i class="fa fa-reply-all"></i>
          </a>
          <!-- ---------------------------- reply -------------------------------- -->

          <div *ngIf="onclickReponse[comment.id]">
            <textarea type="text" placeholder=" Add a response here .. " class="commentadd" (focus)="FocusReponse()"
              (focusout)="FocusReponse()" [(ngModel)]="reply"></textarea><br />
            <div *ngIf="onFocusReponse" class="commentbtn" [ngStyle]="{ 'margin-left': buttonReplyMargin + '%' }">
              <button class="btn btn-secondary" (click)="cancelReply()">
                Cancel
              </button>
              &nbsp;
              <button class="btn btn-success" (mousedown)="SendReply(comment.id)">
                Add Reply
              </button>
            </div>
          </div>

          <div *ngFor="let rep of comment.reponses">
            <div>
              <strong class="reply"> &nbsp;{{ rep.name }} </strong> &nbsp; &#9702; &nbsp;
              <i class="time"> {{ rep.time | date: "yyyy-MM-dd" }} </i>
              <span *ngIf="comment.user == this.userId" (click)="DeleteReply( rep.reply_id , comment.id)"> &nbsp; &#9702; &nbsp; <i
                class="fa fa-trash"></i></span>
              <div class="comment reply">
                {{ rep.reply }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
