<div class="commentSection">
     <!-- sending a comment -->
    <div style="margin: 20px;">
        <textarea type="text" placeholder=" Add a comment here .. " class ="commentadd" 
        (focus)="FocusComment()" (focusout)="FocusComment()" [(ngModel)]="comment"></textarea><br>
        <div  *ngIf="onFocusComment" class="commentbtn" [ngStyle]="{'margin-left': buttonCommentMargin + '%'}">
            <button class="btn btn-secondary" (mousedown)="cancelComment()">Cancel</button> &nbsp;
            <button class="btn btn-success" (mousedown)="SendComment()">Add Comment</button>
        </div>
        <hr>  
    </div>
</div>