.page {
  background: url('../../assets/landing.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;  /* responsive height */
}
.title {
  color:white;
  font-size: 40px;
  margin-bottom: 40px;
}
.container{
  padding-top: 17%;
  text-align: center;
}

@media (max-width: 400px) {
  .title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .container{
    padding-top: 40%;
  }
}
