<div class="container">
  <h2>Accepted customers</h2>

  <table>
    <tr>
      <th class="center">Name</th>
      <th class="center">Gender</th>
      <th class="center">Adress</th>
      <th class="center">Email</th>
      <th class="center">Phone</th>
      <th class="center">Number of places</th>
      <!-- <th class="center">House</th> -->
    </tr>
      <tr *ngFor="let customer of customers">
        <td class="center">{{customer.name}}</td>
        <td class="center">{{customer.gender}}</td>
        <td class="center">{{customer.adress}}</td>
        <td class="center">{{customer.email}}</td>
        <td class="center">{{customer.phone}}</td>
        <td  class="center">{{customer.nbplaces}}</td>
        <!-- <td class="center">  <button type="button" class="btn btn-success btn-sm">Open</button></td> -->
      </tr>
  </table>

</div>
