<div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
          <div class="card p-3">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
      </div>

      <div class="col-sm-6 top">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab style="font-size: 90px;" (selectTab)="favbuttons = true" heading="About">
            <div class="p-2 mt-2 font">
              <p><strong>Type : </strong> &nbsp; {{this.house.size}}  </p>
              <p><strong>Location : </strong>  &nbsp; {{this.house.location}} </p>
              <p><strong>Price : </strong>  &nbsp; {{this.house.price}} &nbsp; dt </p>
              <p><strong>Description : </strong> {{this.house.description}}
              </p>
              <p><strong>Reserved places : </strong>  &nbsp; 1/2  </p>
              <br>
            </div>
            </tab>
            <tab (selectTab)="favbuttons = false" heading="Contact">
              <div class="p-2 mt-2 font">
                <p><strong>Email : </strong> &nbsp; {{house.email}}  </p>
              <p><strong>Phone : </strong>  &nbsp; {{house.phone}} </p> <br>

              <p><i style='color:grey; float:right'>Posted by :  {{house.owner_name}} </i>  </p>
              </div>
            </tab>
            <tab (selectTab)="favbuttons = false" heading="location">
              <div class="p-2 mt-2 font">
                <iframe
                  [src]='mapsURL | safe'
                  width="100%" height="315"
                  frasmeborder="0"
                  allowfullscreen webkitallowfullscreen mozallowfullscreen>
                </iframe>
                <div class="mt-4 mb-4">
                  <strong >Change location coordinates :</strong>
                  <input class="ml-2" type="text">
                </div>

              </div>
            </tab>
          </tabset>
        </div>
        <div *ngIf="favbuttons" class="row mt-3 mb-4">
          <div class="col-6">
            <button type="button" class="btn btn-success  btn-md btn-block">Reserve place &nbsp; <i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
          </div>

          <div class="col-6" *ngIf="!this.house.favorit">
            <button type="button" class="btn btn-secondary  btn-md btn-block" (click) = "addToFavorits()">Add to favorits  &nbsp; <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
          </div>
          <div class="col-6" *ngIf="this.house.favorit">
            <button type="button" class="btn btn-warning  btn-md btn-block" (click) = "removeFavorit()">Remove from favorits  &nbsp; <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
          </div>

        </div>
        <p></p>
		    <h2> Comments : </h2>
        <app-comments></app-comments>
    </div>
  </div>
</div>
