<div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
          <div class="card p-3">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
      </div>

      <div class="col-sm-6 top">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="About">
            <div class="p-2 mt-1">
               <h4>Description</h4>
               <p>blablabla</p>
            </div>
            </tab>
            <tab heading="Contact">
            </tab>
          </tabset>
        </div>
    </div>
  </div>
</div>
