<div class="card mb-3 " style="width: 840px; margin: 0 auto; height: 100px;">
    <div class="row no-gutters ">
      <div class="col-md-3">
         
        <img [src]="baseUrl + 'media/auto/img1.jpg'" class="card-img" style="height: 100px; width: 200px;">
      </div>
      <div class="col-md-4">
        <div class="card-body" style="height: 100px;">
          <p class="card-title" style="font-weight: bold;">Yasmine</p>
          <p class="card-text">Sent you a reservation request.</p>
        </div>
      </div>
      <div class="col-md-2" style="margin-top: 30px;">
            <button type="button" class="btn btn-success  btn-md btn-block" style="width: 130px; margin-right: 5px;">Accept</button>
      </div>
      <div class="col-md-3" style="margin-top: 30px;">
            <button type="button" class="btn btn-danger  btn-md btn-block" style="width: 140px;">Decline </button>
      </div>
    </div>
</div>
<div class="card mb-3 " style="width: 840px; margin: 0 auto; height: 100px;">
    <div class="row no-gutters ">
      <div class="col-md-3">
         
        <img [src]="baseUrl + 'media/auto/img2.jpg'" class="card-img" style="height: 100px; width: 200px;">
      </div>
      <div class="col-md-4">
        <div class="card-body" style="height: 100px;">
          <p class="card-title" style="font-weight: bold;">Yasmine</p>
          <p class="card-text">Sent you a reservation request.</p>
        </div>
      </div>
      <div class="col-md-2" style="margin-top: 30px;">
            <button type="button" class="btn btn-success  btn-md btn-block" style="width: 130px; margin-right: 5px;">Accept</button>
      </div>
      <div class="col-md-3" style="margin-top: 30px;">
            <button type="button" class="btn btn-danger  btn-md btn-block" style="width: 140px;">Decline </button>
      </div>
    </div>
</div>