<div class="album py-4 bg-light">
  <div class="container">
    <div class="filterBox mb-4">

      <br> <br> <!-- search , select , price -->

      <div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a class="d-lg-none block-toggler" data-toggle="collapse" href="#priceFilterMenu" aria-expanded="false" aria-controls="priceFilterMenu">Filter by price</a>
        <div class="expand-lg collapse" id="priceFilterMenu">
          <h6 class="sidebar-heading d-none d-lg-block">Price  </h6>
          <div class="mt-4 mt-lg-0 noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr" id="slider-snap"> <div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(16%, 0px) scale(0.28, 1);"></div></div><div class="noUi-origin" style="transform: translate(-840%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="110.0" aria-valuenow="40.0" aria-valuetext="40.00"><div class="noUi-touch-area"></div></div></div><div class="noUi-origin" style="transform: translate(-560%, 0px); z-index: 6;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="40.0" aria-valuemax="250.0" aria-valuenow="110.0" aria-valuetext="110.00"><div class="noUi-touch-area"></div></div></div></div></div>
          <div class="nouislider-values">
            <div class="min">From $<span id="slider-snap-value-lower">100dt</span></div>
            <div class="max">To $<span id="slider-snap-value-upper">1000dt</span></div>
            <input class="slider-snap-input" type="hidden" name="pricefrom" id="slider-snap-input-lower" value="40">
            <input class="slider-snap-input" type="hidden" name="priceto" id="slider-snap-input-upper" value="110">
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="card mb-4 col-md-3 box-shadow cardBox" >
        <span class="plus">  <i class="fa fa-plus fa-5x" aria-hidden="true"></i> </span>
          <div class="btn-group mt-3 mb-4">
              <a type="button" class="btn btn-sm btn-outline-success center" [routerLink]="['/addhouse']">Add a new house</a>
          </div>
      </div>
      <div  *ngFor="let house of numbers" class="col-md-3" >  <!-- put 3 cards per line when screen is big (bootstrap) -->
        <div class="card mb-4 box-shadow cardBox" >
          <img class="card-img-top image" alt="Home" src="../../assets/house2.jpeg">
          <div class="card-body">
            <div class="card-text">
              <p><strong>Type : </strong> &nbsp; s+1  </p>
              <p><strong>Location : </strong>  &nbsp; Manouba </p>
              <p><strong>Price : </strong>  &nbsp; 500 dt </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/details']">Details</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
