<div class="album py-4 bg-light">
  <div class="container">
    <div class="filterBox mb-4">

      <br>
      <div class="container">
      <div class="row">
        <div class="col-sm">

            <ng-autocomplete
              id="auto"
              [data]="states"
              [searchKeyword]="keyword"
              placeholder="Choose your location "
              [(ngModel)]	 = "model.location"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
      </div>
        <div class="col-sm">
          <select class="form-control" id="exampleFormControlSelect1"   [(ngModel)]	 = "model.type">
            <option>S+0</option>
            <option selected >S+1</option>
            <option>S+2</option>
            <option>S+3</option>
            <option>S+4</option>
            <option>s+5</option>
          </select>
        </div>
        <div class="col-sm">
          <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        </div>
      </div>
    </div>
      <br> <br> <!-- search , select , price -->

    </div>

    <div class="row">
      <div class="card mb-4 col-md-3 box-shadow cardBox" >
        <span class="plus">  <i class="fa fa-plus fa-5x" aria-hidden="true"></i> </span>
          <div class="btn-group mt-3 mb-4">
              <a type="button" class="btn btn-sm btn-outline-success center" [routerLink]="['/addhouse']">Add a new house</a>
          </div>
      </div>

      <div  *ngFor="let house of houses" class="col-md-3" >  <!-- put 3 cards per line when screen is big (bootstrap) -->
        <div class="card mb-4 box-shadow cardBox" >
          <img class="card-img-top image" alt="Home" [src]="baseUrl + 'media/'+house.images[0].image" alt="none">
          <div class="card-body">
            <div class="card-text">
              <p><strong>Type : </strong> &nbsp; {{house.size}}  </p>
              <p><strong>Location : </strong>  &nbsp; {{house.location}} </p>
              <p><strong>Price : </strong>  &nbsp; {{house.price}} &nbsp; dt </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/details', house.id]">Details</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
