<div class="boxie">
  <!-- --------------------------------------------- auto complete location -------------------------------------------------- -->

  <label for="auto">
  <span class="labell"> Location :</span>
  </label>
  <ng-autocomplete
    id="auto"
    [data]="states"
    [searchKeyword]="keyword"
    placeholder="Please select a city"
    [(ngModel)]	 = "model.location"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
  <br>

  <!-- ---------------------------------------------- Select type of house ------------------------------------------------------ -->

  <div class="form-group">
    <label for="exampleFormControlSelect1"> <span  class="labell"> Type of appartement : </span></label>
    <select class="form-control" id="exampleFormControlSelect1"   [(ngModel)]	 = "model.type">
      <option>S+0</option>
      <option selected >S+1</option>
      <option>S+2</option>
      <option>S+3</option>
      <option>S+4</option>
      <option>s+5</option>
    </select>
  </div>

  <!-- ---------------------------------------------- Select type of house ------------------------------------------------------ -->

  <label for="inlineFormInputGroupUsername"> <span class="labell">Price :</span></label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">TTC</div>
    </div>
    <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="Price in Dinars"  [(ngModel)] = "model.price">
  </div>

  <br>

  <label for="inlineFormInputGroupUsername"> <span class="labell">Number of places</span></label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">places</div>
    </div>
    <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="Number of places "  [(ngModel)] = "model.max">
  </div>
  <br>

  <image-upload url="http://mockbin.org/request"  [style]="customStyle" (removed)="onRemoved($event)" (uploadFinished)="onUploadFinished($event)" ></image-upload>
  <br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Short description :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)] = "model.description"></textarea>
  </div>
  <br>

  <button type="button" class="btn btn-success float-right" (click)="publish()" *ngIf="!loading" [disabled]="!publishOpen">Publish </button>
  <br>

  <div *ngIf="selectedFile" class="img-preview-container">

    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
          [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
    </div>

    <div *ngIf="selectedFile.pending" class="img-loading-overlay">
      <div class="img-spinning-circle"></div>
    </div>

    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
    <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
  </div>

  <div class="message-container" *ngIf="loading">
    <ng-template #customLoadingTemplate>
        <div class="message">
            <h3>
              Uploading house , please wait ..
            </h3>
        </div>
    </ng-template>

    <ngx-loading [show]="loading"  [template]="customLoadingTemplate">
    </ngx-loading>
  </div>

</div>

